html {
    width: 960px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    max-width: 100%;
    margin: 0px auto;
}

body {
    font: 100% Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.header {
    margin: 0 auto;
    width: 100%;
}

.header nav {
    list-style: none;
    margin: 0 auto;
}

.header nav ul {
    margin: 0 auto;
}

.header nav ul li {
    display: inline;
    font-family: 'Aleo-Regular';
    margin-top: 1.5em;
}

.header nav li img {
    float: left;
    margin: 2.6em 7em 2.5em 7em;
}

@font-face {
    font-family:WCManoNegraBta;
    font-weight:bold;
    src:url("fonts/WCManoNegraBta.otf") format("opentype");
}

@font-face {
    font-family:Bazar;
    font-weight:bold;
    src:url("fonts/Aleo-Regular.otf") format("opentype");}

@font-face {
    font-family:Bazar;
    font-weight:bold;
    src:url("fonts/Aleo-Bold.otf") format("opentype");}

.header nav a:link, .mainHeader nav a:visited {
    display: inline-block;
    padding: 3.1em 1.10em;
    height: 20px;
}

.header nav a:hover, .mainHeader nav a:active,
.header nav .active a:link, .mainHeader nav .active a:visited {
    /*background-color: #CF5C3F;*/
    text-shadow: none;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin: 0.1em;
}

.logo {
    background-image: url("img/billboard_bg.png");
    height: 25.125em;
}

.logo h2 {
    font-family: 'WCManoNegraBta';
    color: white;
    font-size: 3em;
    text-align: center;
    margin:0%;
}

.logo p {
    font-family: 'Aleo-Regular';
    color: white;
    text-align: center;
}

.theMenu {
    font-family:'WCManoNegraBta';
    color: green;
    top: 50%;
    left: 25%;
    bottom: 33.333333%;
}

p {
    text-align: center;
}

.menuImg {
    width:10%;
    margin: 0% 43% 0% 43%;
    text-align: center;
}

.main {
    margin-right: 5%;
    width: 100%;
}
.main p {
    text-align: center;
    font-family: 'Aleo-Regular';
}

.tableMenu {
    height: 200;
}

.tableMenu .col-2 {
    width: 50%;
    float:left;
    text-align: center;
    font-family: 'Aleo-Regular';
    font-size:0.85em;
    margin: 0%;
}

.featuredDishes {
    font-family: 'Aleo-Regular';
    text-align: center;
    margin-bottom: 5%;
}

h4 {
    width:100%;
    text-align: center;
}

.featuredDishes ul {
    padding: 0%;
    margin: 0%;
}

.featuredDishes ul li {
    list-style-type: none;
    width: 20%;
    display: inline-block;
    padding: 1.1em;
    padding-bottom: 0%;
    font-family: 'Aleo-Regular';
    text-align: center;
}

.featuredDishes ul img {
    background-color: white;
    max-width: 100%;
}

.theGallery p {
    text-align: center;
    font-family: 'Aleo-Regular';
    margin-top: 0px;
}

.theGallery img {
    float: left;
}

.theGallery .img_5 {
    height: 100%;
    width: 33.33333%;
}

.theGallery .img_4 {
    width: 33.3333334%;
}

.theGallery .img_3 {
    width: 33.3333334%;
}

.theGallery .img_2 {
    width: 33.3333334%;
}

.theGallery .img_1 {
    width: 33.3333334%;
}

.footer {
    height:10%;
    clear: both;
    background-color: grey;
    color: white;
    margin-left: 5%;
    width: 90%;
}

.footer .col-4 {
    margin: 2.5%;
    width: 20%;
    color: black;
    float:left;
    font-family: 'Aleo-Regular';
}